* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.selectBox {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: lightblue;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}
.selectBox header {
  color: blue;
  font-size: 50px;
  text-align: center;
  padding:20px;
  border-bottom: 2px solid white;
}
.selectBox .title {
  padding: 20px;
}

.selectBox .playerName {
  display: flex;
  padding: 10px;
}
.selectBox .playerName button {
  width: 100%;
  padding: 10px;
}
.selectBox .playerX,
.playerO {
  width: 100%;
  margin: 1px;
}
.selectBox.hide {
  pointer-events: none;
  opacity: 0;
}
.playboard {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}
.playboard.show {
  opacity: 1;
  pointer-events: auto;
}
.playboard .players {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  padding: 8px;
}
.playboard .players div {
  color: black;
  padding: 8px;
  border-radius: 5px;
}
.players .xturn.active {
  background-color: white;
}
.players .oturn.active {
  background-color: white;
}
.boxes {
  background-color: lightblue;
  display: grid;
  height: 275px;
  width: 275px;
  grid-template-columns: 95px 95px 95px;
  grid-template-rows: 95px 95px 95px;
  border-color: white;
  margin: 10px;

}
.box {
  color: deepskyblue;
  width: 85px;
  height: 85px;
  font-size: 50px;
  border: none;
  background-color: white;
  border: 0.5px solid lightblue;
  margin: 0;
}
.result {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: lightblue;
  max-width: 350px;
  width: 100%;
  padding: 10px;
  pointer-events: none;
}
.won-game {
  width: 100%;
  display: flex;
  margin: 10px;
  padding: 10px;
  justify-content: center;
}
.res{
   position: absolute;
 padding: 10px;
 margin: 10px 100px;
  background-color: rgb(101, 164, 185);
  color: white;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 100px;
  border-radius: 2px;
}
#reset {
  margin: 10px 100px;
  padding: 10px;
  background-color: blue;
  color: white;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.result.showwinner {
  opacity: 1;
  pointer-events: auto;
}
